<div class="header">
  <div class="logo">
    <a routerLink="/home"><img src="../../assets/Images/logo.png" alt="Blood Donation"></a>
  </div>
  <div class="navbar">
    <h2><i class="fa-solid fa-user"></i>{{loggedInUser.uname}}</h2>
    <button (click)="logout()">Logout</button>
  </div>
</div>




<div class="body">
  <div class="sidebar">
    <ul>
      <li>
        <p (click)="toggleDonationHistory()">Donation History</p>

      </li>
      <li>
        <p (click)="toggleUpdateProfile()">Update Profile</p>

      </li>
      <li>
        <p (click)="toggleChangePassword()">Change Password</p>

      </li>
      <li>
        <p (click)="toggleSetStatus()">Set Status</p>

      </li>
      <li>
        <p (click)="toggleDeleteAccount()">Delete Account</p>

      </li>
    </ul>
  </div>
  <div  *ngIf="showDonationHistory"> <!-- Show content if variable is true -->
    Donation History content goes here
    <h3>Donation History</h3>
  <ul>
    <li *ngFor="let donation of donationHistory">
      <p>Date: {{ donation.date }}</p>
      <p>Place: {{ donation.place }}</p>
      <p>Message: {{ donation.message }}</p>
    </li>
  </ul>
  <form autocomplete="off" (ngSubmit)="addDonationHistory()">
    <label for="donationDate">Date:</label>
    <input type="date" id="donationDate" [(ngModel)]="donationDate" name="donationDate" required>

    <label for="donationPlace">Place:</label>
    <input type="text" id="donationPlace" [(ngModel)]="donationPlace" name="donationPlace" required>

    <label for="donationMessage">Message:</label>
    <textarea id="donationMessage" [(ngModel)]="donationMessage" name="donationMessage" rows="4" cols="50" required></textarea>

    <button type="submit">Add Donation History</button>
  </form>
  </div>
  <div *ngIf="showUpdateProfile"> <!-- Show content if variable is true -->
    Update Profile content goes here
  </div>
  <div *ngIf="showChangePassword"> <!-- Show content if variable is true -->
    Change Password content goes here
  </div>
  <div *ngIf="showSetStatus"> <!-- Show content if variable is true -->
    Set Status content goes here
  </div>
  <div *ngIf="showDeleteAccount"> <!-- Show content if variable is true -->
    Delete Account content goes here
  </div>

</div>

<div class="profile">
   
  <ul>
    <li><strong>Name:</strong> {{ loggedInUser.uname }}</li>
    <li><strong>Age:</strong> {{ loggedInUser.age }}</li>
    <li><strong>Blood Group:</strong> {{ loggedInUser.bgroup }}</li>
    <li><strong>Weight:</strong> {{ loggedInUser.weight }}</li>
    <li><strong>Gender:</strong> {{ loggedInUser.gender }}</li>
    <li><strong>Email:</strong> {{ loggedInUser.email }}</li>
    <li><strong>Phone Number:</strong> {{ loggedInUser.phno }}</li>
    <li><strong>City:</strong> {{ loggedInUser.city }}</li>
    <li>{{loggedInUser.donationHistory}}</li>
  </ul>
</div>