<header>
  <div class="logo">
    <a routerLink="/home"><img src="../../assets/Images/logo.png" alt="Blood Donation"></a>
  </div>
  <nav class="navbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home" routerLinkActive="active"><span><i class="fas fa-home"></i> Home</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/request" routerLinkActive="active"><span><i class="fas fa-stethoscope"></i> Requestblood</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/bloodfacts" routerLinkActive="active"><span><i class="fa-solid fa-heart-pulse"></i>
           Bloodfacts</span></a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" routerLink="/about" routerLinkActive="active"><span><i class="fa-solid fa-address-card"></i> Aboutus</span></a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link" routerLink="/contactus" routerLinkActive="active"><span><i class="fas fa-message"></i>
          Contactus</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/login" routerLinkActive="active"><span><i class="fa-solid fa-right-to-bracket"></i>
          Login</span></a>

      </li>
    </ul>
  </nav>
</header>